.help-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  margin-left: 3rem;
  padding: 4rem;
  border-radius: 10px;
  background-color: white;
  border: solid 5px #1971b4;
}
.help-controller h2 {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  font-style: oblique;
}
.help-controller h3 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.help-controller p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.help-explenation {
  width: 100%;
}
.help-controller button {
  margin-left: 5px;
  margin-right: 5px;
}
