.form-layout {
  display: grid;
  grid-template-columns: 1fr 60%;
  /* background-color: red; */
  height: 60vh;
  width: 80%;
  margin-left: 10%;

  border: solid 2px black;
  border-radius: 3rem;
  margin-top: 5rem;
}
