.loading {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: black;
}
.loading h2 {
  font-size: 5rem;
}
.spinner-border {
  width: 100px;
  height: 100px;
  font-size: 10rem;
  color: red;
}
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-bottom: 10px solid #3498db;
  border-radius: 50%;
  width: 220px;
  height: 220px;

  animation: spin 1s linear infinite;
}
.loading h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 2rem;
  width: 1rem;
  color: #1971c2;
}
@keyframes spin {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
